@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents scrolling */
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    width: max-content;
    padding: 40px 20px;
    border-radius: 20px;
    background: linear-gradient(-65deg, #000, #222, #000, #666, #222 75%);
    box-shadow: inset 0 -1px 1px #ffffff70, 
                inset -0.4rem 0.4rem #282828,
                0 0 50px #00000080 inset, 
                0 5px 15px #00000080;
    max-width: 100%;
    overflow: hidden; /* Prevents overflow */
}

.piano-keys {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    height: 12vw; /* Responsive height */
    width: 7vw;  /* Responsive width */
    max-width: 70px;
    max-height: 120px;
    border: 1px solid #000;
    border-left: 1px solid #fff2;
    border-bottom: 1px solid #bababa;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 #ffffffcc inset, 
                0 0 3px #00000033,
                inset -15px 0px 20px #0006,
                inset 3px 0px 20px #fff,
                0 5px 5px #000;
    background: linear-gradient(to bottom, hsl(0, 0%, 93%) 0%, white 100%);
    color: #0000004d;
}

.piano-keys .black {
    z-index: 2;
    width: 4.4vw; /* Responsive width */
    height: 7vw;  /* Responsive height */
    max-width: 44px;
    max-height: 70px;
    margin: 0 -2.2vw 0 -2.2vw;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px #ffffff33 inset, 
                0 -5px 2px 3px #00000099 inset,
                0 2px 4px #00000080;
    background: linear-gradient(45deg, #212121 0%, #545454 100%);
    color: #ffffff80;
}

.piano-keys .white.active {
    box-shadow: -1px 0 0 #ffffffcc inset, 
                0 0 3px #00000033, 
                inset -15px 0px 20px #0006,
                inset 3px 0px 20px #fff,
                0 1px 1px #000,
                inset -2px -49px 40px #0003;
}

.piano-keys .black.active {
    background: linear-gradient(-180deg, #313131 50%, #545454 100%);
}

.piano-keys .key span {
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: #a2a2a2;
    font-size: 1.5vw;
    text-align: center;
    color: #0000004d;
    font-family: Roboto;
    font-weight: 500;
}
